USE [master]
GO
/****** Object:  Database [CMSTweetDB]    Script Date: 26-05-2018 09:08:33 ******/
CREATE DATABASE [CMSTweetDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMSTweetDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CMSTweetDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CMSTweetDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CMSTweetDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMSTweetDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMSTweetDB]
GO
USE [CMSTweetDB]
GO
/****** Object:  Table [dbo].[HashTag]    Script Date: 26-05-2018 09:08:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HashTag](
	[HashTagId] [int] IDENTITY(1,1) NOT NULL,
	[HashTagName] [varchar](240) NOT NULL,
	[TweetId] [int] NOT NULL,
 CONSTRAINT [PK_HashTag] PRIMARY KEY CLUSTERED 
(
	[HashTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tweet]    Script Date: 26-05-2018 09:08:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tweet](
	[TweetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TweetContent] [varchar](240) NOT NULL,
	[TotalLikes] [varchar](50) NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Tweet] PRIMARY KEY CLUSTERED 
(
	[TweetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 26-05-2018 09:08:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[LName] [nchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[MobNumber] [varchar](50) NOT NULL,
	[Image] [image] NOT NULL,
	[TotalTweets] [int] NULL,
	[Country] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserDeatils] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserFollowers]    Script Date: 26-05-2018 09:08:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFollowers](
	[UserFollowersId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FollowerId] [int] NOT NULL,
 CONSTRAINT [PK_UserFollowers] PRIMARY KEY CLUSTERED 
(
	[UserFollowersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserReaction]    Script Date: 26-05-2018 09:08:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserReaction](
	[UserReactionId] [int] IDENTITY(1,1) NOT NULL,
	[TweetId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[IsLiked] [int] NOT NULL,
 CONSTRAINT [PK_UserReaction] PRIMARY KEY CLUSTERED 
(
	[UserReactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[HashTag]  WITH CHECK ADD  CONSTRAINT [FK_HashTag_Tweet] FOREIGN KEY([TweetId])
REFERENCES [dbo].[Tweet] ([TweetId])
GO
ALTER TABLE [dbo].[HashTag] CHECK CONSTRAINT [FK_HashTag_Tweet]
GO
ALTER TABLE [dbo].[Tweet]  WITH CHECK ADD  CONSTRAINT [FK_Tweet_Tweet] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Tweet] CHECK CONSTRAINT [FK_Tweet_Tweet]
GO
ALTER TABLE [dbo].[UserFollowers]  WITH CHECK ADD  CONSTRAINT [FK_UserFollowers_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserFollowers] CHECK CONSTRAINT [FK_UserFollowers_User]
GO
ALTER TABLE [dbo].[UserFollowers]  WITH CHECK ADD  CONSTRAINT [FK_UserFollowers_User1] FOREIGN KEY([FollowerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserFollowers] CHECK CONSTRAINT [FK_UserFollowers_User1]
GO
ALTER TABLE [dbo].[UserReaction]  WITH CHECK ADD  CONSTRAINT [FK_UserReaction_Tweet] FOREIGN KEY([TweetId])
REFERENCES [dbo].[Tweet] ([TweetId])
GO
ALTER TABLE [dbo].[UserReaction] CHECK CONSTRAINT [FK_UserReaction_Tweet]
GO
ALTER TABLE [dbo].[UserReaction]  WITH CHECK ADD  CONSTRAINT [FK_UserReaction_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserReaction] CHECK CONSTRAINT [FK_UserReaction_User]
GO
USE [master]
GO
