<div id="stasDIV" class="col-md-6 col-md-offset-3">
        <h2>Stats</h2>
          <div>
                <label for="MostTrendingHashtag">MostTrendingHashtag</label>
            </div>
            <div>
                <label for="TotalTweetsToday">TotalTweetsToday</label>
            </div>
            <div>
                <label for="MostTweetsBy">MostTweetsBy</label>
            </div>
            <div>
                <label for="MostLikedTweet">MostLikedTweet</label>
            </div>

    </div>